*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


$primary_color: rgb(0, 25, 94);

@mixin detailsButton {
    background-color: $primary_color;
    color: whitesmoke;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 30px 0px;
    display: inline-block;
}