.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  div {
    padding: 10px 10%;
    p {
      text-align: justify;
    }
    a {
      @include detailsButton;
    }
  }
}
