* {
    padding: 0%;
    margin: 0%;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 5px;
}

.main>div {
    background-color: aquamarine;
    color: navy;
    padding: 12px;
    text-align: center;
}
.main>div:nth-child(odd){
    background-color: orange;
}

.main>div:nth-child(1){
    grid-column: 1/3;
}